body{
    height: 100%;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    background: lightgrey;
}
#profile_main{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    background-color: grey;
    padding: 2%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 100%; 
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;


}

li a:hover {
    background-color: lightgrey;
}
#logotext{
    color: black;
    display: block;
    text-align: center;
    float: right;
    padding-right: 10px;


}
#container8{

    width: 100%;
    height: 89%;
    background-color: white;



}
#homepic{
    max-width:100%;
    max-height:100%;
}

#container1{
    background-color: white;
    text-align: center;
    padding: 1%;

}


#container2{
    background-color: white;
    text-align: center;
    color: white;
    box-shadow: 0 4px 2px -2px gray;
    margin-bottom: 1%;




}
#button {
    background-color: lightgrey;
    color: black;
    border: 2px solid #555555;
    border-radius: 4px;
    width: 10%;
    height: 30%;
}
#button:hover {
    background-color: grey;
    color: white;
}
.segmentation{

    margin-top:  3%;
}
#interest_wrapper{
    width: 50%;
    margin: 0 auto;

}
#interest_wrapper .interests{
    display: inline-block;
    float: left;
    margin-bottom: 2%;
    margin-left: 1%;
    width: 200px;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
#button2 {
    background-color: lightgrey;
    color: black;
    border: 2px solid #555555;
    border-radius: 4px;
    width: 15%;
    height: 40%;
    float: right;
    margin-top: 2%;
    margin-bottom: 2%;
}
#button2:hover {
    background-color: grey;
    color: white;
}
.logincl{
    display: inline-block;
    float: left;
    margin-bottom: 2%;
    margin-left: 1%;
    width: 30%;
}
#login_wrapper{
    margin: 0 auto;
    width: 50%;
    margin-top: 5%;
}
#loginbtn{
    float: left;
    margin-left: 40%;
    clear: both;
    width: 20%;
    background-color: lightgrey;
    color: black;
    border: 2px solid #555555;
    border-radius: 4px;
    margin-top: 2%;
}
#loginbtn:hover {
    background-color: grey;
    color: white;
}
#logintxt{
    text-align: center;
    margin-bottom: 5%;
}
#searchbar{
    float: right;
    margin-top: 1%;
    margin-right: 1%;
    width: 20%;
}
#contactWrapper{
    margin-left: 20%;
    width: 50%;
    margin-top: 2%;
}
#contactWrapper label{
    margin-right: 2%;
}
#contactWrapper .contactInfo{
    margin-bottom: 2%;
    width: 50%;
}
#contactSubmitButton{
    margin-left: 39%;
    margin-top: 1%;
    background-color: lightgrey;
    color: black;
    border: 2px solid #555555;
    border-radius: 4px;
    width: 10%;
    height: 30%;
}
#contactMsg{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 35%;
}

#contactSubmitButton:hover {
    background-color: grey;
    color: white;
}
#profile_wrapper{
    margin: 0 auto;
    width: 100%;
}
#editprofileSubmitButton{

    margin-top: 2%;
    margin-bottom: 2%;
    background-color: lightgrey;
    color: black;
    border: 2px solid #555555;
    border-radius: 4px;
    width: 15%;
    height: 5%;
}
#editprofileSubmitButton:hover {
    background-color: grey;
    color: white;
}
#deleteUserButton{
    margin-left: 55%;
    margin-top: 1%;
    background-color: lightgrey;
    color: black;
    border: 2px solid #555555;
    border-radius: 4px;
    width: 20%;
    height: 30%;
}
#user_bio_text,#user_preferences,#interests_list{



    padding: 1%;

}
#profile_photo{

    width: 10px;
    align: absmiddle;
}
#welcomemsgprofile{
    margin-left: 30%;
}
#postsDiv{
    width:60%;
    padding: 1%;
    margin-right: 10%;
    float: right;
    align: absmiddle;
    margin-top: 5%;
    background-color: lightgray;
    border: 1px solid black;
}
#userabout{
    background-color: lightgray;
    margin-top: 1%;
    padding: 1%;
    border: 1px solid black;
    width: 19%;
}
.search_results_link_to_profile{
    border:none;
    outline:none;
    background:none;
    cursor:pointer;
    color:#0000EE;
    padding:0;
    text-decoration:underline;
    font-family:inherit;
    font-size:inherit;
}

  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:lightslategray;
    width:100%;
    height: 500px;
    margin-top: 1%;
    border:1px solid black; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height: 400px;
    width:90%;;
    border:1px solid black;
    overflow:auto; }
  
#usermsg {
    margin-left: 19%;
    width:800px;
    border:1px solid black; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }